{% extends './plantilla.html' %}
{% block contenido %}

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 bg-light">
        <h1>Editar Libro</h1>
        <form action="/procesarEdicionLibro" method="post">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{libroEditar.id}}">

            <label for="">Código:</label><br>
            <input class="form-control" type="text" name="codigo" id="codigo" value="{{libroEditar.codigo}}"> <br> <br>

            <label for="">Título:</label><br>
            <input class="form-control" type="text" name="titulo" id="titulo" value="{{libroEditar.titulo}}"> <br> <br>

            <label for="">Autor:</label><br>
            <input class="form-control" type="text" name="autor" id="autor" value="{{libroEditar.autor}}"> <br> <br>

            <button class="btn btn-warning" type="submit">
                <i class="fa fa-pen"></i> Editar
            </button>

            <a class="btn btn-outline-danger" href="/">
                <i class="fa fa-times"></i> Cancelar
            </a>
        </form>
        <br>
    </div>
    <div class="col-md-3"></div>
</div>

{% endblock %}
