{% extends './plantilla.html' %}
{% block contenido %}

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 bg-light">
        <h1>Nuevo Equipo</h1>
        <form action="/guardarEquipo" method="post">
            {% csrf_token %}
            <label for="jugador">Jugador:</label><br>
            <select class="form-control" name="jugador" id="jugador" required>
                <option value="">Seleccione un jugador</option>
                {% for jugador in jugadores %}
                    <option value="{{ jugador.id }}">{{ jugador.nombre }}</option>
                {% endfor %}
            </select> <br><br>

            <label for="">Nombre:</label><br>
            <input class="form-control" type="text" name="nombre" id="nombre"> <br><br>

            <label for="">Alias:</label><br>
            <input class="form-control" type="text" name="alias" id="alias"> <br><br>

            <label for="">Director:</label><br>
            <input class="form-control" type="text" name="director" id="director"> <br><br>

            <label for="">Localizacion:</label><br>
            <input class="form-control" type="text" name="localizacion" id="localizacion"> <br><br>


            <label for="fecha_registro">Fecha de Registro:</label><br>
            <input class="form-control" type="date" name="fecha_registro" id="fecha_registro" required> <br><br>

            <button class="btn btn-success" type="submit">Guardar</button>
            <a class="btn btn-outline-danger" href="/equipos">Cancelar</a>
        </form>
        <br>
    </div>
    <div class="col-md-3"></div>
</div>

{% endblock %}
